<div style="width:100%;">
    <div class="modal-header">
        <h3 class="modal-title">高级查询</h3>
    </div>
    <div class="modal-body"  style="width:100%;background: #fff">
        <form action=""  style="width:100%;">
            <a href="" class="col-lg-6">基础信息</a>
            <a href="" class="col-lg-6">自定义属性</a>
            <div><span></span></div>
            <div>
                <span class="col-lg-6">会员等级：</span>
                <span class="col-lg-6">开卡商家：</span>
                <div class="dropdown col-lg-6 a">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        --请选择等级--
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu1">
                        <li><input class="input input-group" type="text" style="width:100%"></li>
                        <li><a href=""> --请选择等级-- </a></li>
                        <li><a href="">一星级</a></li>
                        <li><a href="">C</a></li>
                    </ul>
                </div>
                <div class="dropdown col-lg-6 a ">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        --请选择商家--
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu2" style="height:200px;overflow: scroll;">
                        <li><input class="input input-group" type="text" style="width:100%"></li>
                        <li><a href=""> --请选择商家-- </a></li>
                        <li><a href="">总部</a></li>
                        <li><a href="">邵商公司</a></li>
                        <li><a href="">纳克</a></li>
                        <li><a href="">宜昌小米超市</a></li>
                        <li><a href="">sj10003</a></li>
                        <li><a href="">商家10000</a></li>
                        <li><a href="">宜昌大米</a></li>
                        <li><a href="">sj01</a></li>
                        <li><a href="">商家测试</a></li>
                        <li><a href="">sj10001</a></li>
                        <li><a href="">小西瓜</a></li>
                    </ul>
                </div>
                <span class="col-lg-6">会员状态：</span>
                <span class="col-lg-6">会员性别：</span>
                <div class="dropup col-lg-6 a">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        --请选择等级--
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu3">
                        <!--<li><input class="input input-group" type="text" style="width:100%"></li>-->
                        <li><a href=""> --请选择状态-- </a></li>
                        <li><a href="">正常</a></li>
                        <li><a href="">锁定</a></li>
                        <li><a href="">挂失</a></li>
                    </ul>
                </div>
                <div class="dropup col-lg-6 a">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    --请选择等级--
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu4">
                    <!--<li><input class="input input-group" type="text" style="width:100%"></li>-->
                    <li><a href=""> --请选择性别-- </a></li>
                    <li><a href="">男</a></li>
                    <li><a href="">女</a></li>
                    <li><a href="">保密</a></li>
                </ul>
            </div>
                <span class="col-lg-6">账户余额：</span>
                <span class="col-lg-6">账户积分：</span>
                <div class="dropup col-lg-6 a">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    --请选择等级--
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu5">
                    <li><a href=""> --请选择-- </a></li>
                </ul>
            </div>

                <div class="dropup col-lg-6 a">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        --请选择等级--
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu6">
                        <li><input class="input input-group" type="text" style="width:100%"></li>
                        <li><a href=""> --请选择等级-- </a></li>
                        <li><a href="">一星级</a></li>
                        <li><a href="">C</a></li>
                    </ul>
                </div>
                <span class="col-lg-6">开卡时间：</span>
                <span class="col-lg-6">到期时间：</span>
                <div class="dropup col-lg-6 a">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        --请选择等级--
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu7">
                        <li><input class="input input-group" type="text" style="width:100%"></li>
                        <li><a href=""> --请选择等级-- </a></li>
                        <li><a href="">一星级</a></li>
                        <li><a href="">C</a></li>
                    </ul>
                </div>
                <div class="dropup col-lg-6 a">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        --请选择等级--
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-lg-6 u" aria-labelledby="dropdownMenu8">
                        <li><input class="input input-group" type="text" style="width:100%"></li>
                        <li><a href=""> --请选择等级-- </a></li>
                        <li><a href="">一星级</a></li>
                        <li><a href="">C</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">
            确认
        </button>
        <button class="btn btn-danger" ng-click="cancel()">退出</button>
    </div>
</div>