<div class="xiugaiBody">
    <div class="xiugaiBody_top">
        <span style="font-size: 20px;font-weight: 500">修改密码</span>
        <span><a href="#">首页</a> / <a href="#geren">个人资料</a> / 公告列表</span>
    </div>
    <div style="background: #fff;height:300px;" class="xiugaimima">
        <form>
            <div>
                <span> 旧密码： </span> <input ng-model="jiumima" class="form-control"  type="password"  required >
            </div>
            <div>
                <span> 新密码： </span> <input ng-model="xinmima" class="form-control"  type="password" required >
            </div>
            <div>
                <span> 确认密码： </span> <input ng-model="querenmima" class="form-control"  type="password" required>
            </div>
            <div class="form-group text-center" style="width: 40%;margin-left: 35%">
                <input ng-click="tijiao()"  class="btn btn-success btn-lg" type="submit" value="提交" />
            </div>
        </form>
    </div>
    <div style="padding:20px 20px 20px 20px;background: #f3f3f3;width:79%;position: absolute;bottom:0">
        <span style="color:grey;">2016 © 纳客软件.</span>
    </div>
</div>
