.vipLvBody{
    background: #f5f5f5;
    height:505px;
    overflow: scroll;
}
.vipLvBody_top{
    display: flex;
    justify-content: space-between;
    padding:20px 25px 20px 25px;
}
.vipLvBody_top span{
    color:grey;
}
.vipLvBody_top a{
    color:blue;
}
.vipLv_inners{
    width:95%;
    /*height:300px;*/
    background: #fff;
    margin: auto;
    border-radius: 3px;
}
.vipLv_con_yop{
    width:100%;
    height:50px;
    line-height: 50px;
    color:grey;
    background:#f1f1f1;
    padding-left: 20px;
    font-size: 15px;

}
.dropdown-menu {
    margin-left: 81px;
}
.abtn{
     width:222px;
 }
.vipLv_inners table{
    width:80%;
    margin: 20px auto;

}
.vipLv_inners table input{
    width:80%;
}
.youxiao{
    width:40%;
    background:lightgrey;
    border-radius: 5px;
}
/*会员登记*/
.vipLv_wrap{
    width:100%;
    background-color: white;
    display: flex;
    justify-content: space-between;

}
.vipLv_div1{
    margin-left:5%;
    width:50%;
}
.vipLv_div1 div{
    display: flex;
    margin-top:20px;
}
.vipLv_div1 input {
    width: 330px;
    height: 35px;
    border: 1px solid #efefef;
    border-radius:3px;
}
.vipLv_div1 span{
   line-height: 30px;
    width:75px;
    height:30px;
    display: inline-block;
    font-weight: 600;
    color:#666666;
    text-align: center;
    margin-right: 10px;
}
.vipLv_div1 p{
    width:330px;
    height:35px;
    border-radius: 3px;
    line-height: 35px;
    display: flex;
    background-color: #efefef;
    padding-left:10px;
}
.vipLv_div1 p input{
    width:50px;
    height:20px;
    margin-top: 8px;
}
.qi {
    margin-left: 106px;
    width:415px;
}